.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-leaves {
  position: absolute;
  transform: translateX(108vw) translateY(20vh);
  transition: transform 2200ms ease-out;
  will-change: transform;
}

.App-leaves__flown {
  transform: translateX(-108vw) translateY(-40vh);
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s;
}

.Back {
  cursor: pointer;
  margin-left: 8px;
}

.Mode-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Mode-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 70px;
}

.Mode-title {
  justify-self: center;
  font-size: 32px;
  font-weight: bold;
}

.Mode-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
