.App {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: rgb(18, 87, 31);
  background: linear-gradient(
    0deg,
    rgba(18, 87, 31, 1) 0%,
    rgba(18, 87, 31, 1) 3%,
    rgba(255, 255, 255, 1) 45%,
    rgba(85, 166, 255, 1) 100%
  );
}

.App-leaves {
  position: absolute;
  z-index: 9999;
  pointer-events: none;
  transform: translateX(108vw) translateY(20vh);
  transition: transform 2200ms ease-out;
  will-change: transform;
}

.App-leaves__up {
  transform: translateX(-108vw) translateY(-40vh);
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s;
}

.Back {
  cursor: pointer;
  margin-left: 8px;
}

.Mode-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Mode-header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 70px;
}

.Mode-title {
  justify-self: center;
  font-size: 32px;
  font-weight: bold;
  font-family: "Tsushima";
}

.Mode-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}
