html,
body {
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

@font-face {
  font-family: "Tsushima";
  src: url(./assets/fonts/Tsushima.otf) format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
